{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
{% if is_not_subscriber %}
<button style="margin: 10px"> <a href="{% url 'subscribe' category.id %}"> Подписаться на категорию {{ category }}</a> </button>
{% else %}
<button style="margin: 10px"> <a href="{% url 'unsubscribe' category.id %}"> Отписаться от категории {{ category }}</a> </button>
{% endif %}
    <h1>Все публикации в категории {{ category }}</h1>
    <hr>
    {% if category_news_list %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст публикации</td>
                <td>Категории</td>
                <td>Тип</td>
            </tr>

            {% for post in category_news_list %}
            <tr>
                <td>{{ post.topic|censor }}</td>
                <td>{{ post.creation_time|date:'d M Y' }}</td>
                <td>{{ post.text|censor|truncatechars:21 }}</td>
                <td>
                {% for category in post.post_category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
                </td>
                <td>{{ post.get_article_news_display }}</td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <h2>Публикаций нет!</h2>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}