{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load cache %}

{% block title %}
Новость
{% endblock title %}

{% block content %}
{{ post.topic|censor }}
{{ post.creation_time|date:'d M Y' }}
{{ post.text|censor }}

<script>
document.getElementById('deleteId').href = windows.location.href;
</script>

{% cache 300 buttons %}

<h4>
    <a href="edit/" id="deleteId" class="button">Изменить</a>
</h4>

<h4>
    <a href="delete/" id="deleteId" class="button">Удалить</a>
</h4>

{% endcache %}

{% endblock content %}
